h1{
    margin-top: 150px;
    color: rgb(0, 172, 23);
}
.category{
    width: 80vw;
    min-height: 40vh;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    margin-top: 50px;
    box-shadow: 0 0 6px 3px rgb(0, 172, 23);
    border-radius:10px;
    padding: 40px;
}

.category div{
    width: 350px;
    height: 30px;
    padding: 15px;
    background-color: rgb(20, 194, 225);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.category div:hover{
    transition:0.4s ease-in-out;
    background-color: rgb(0, 172, 23);
}

.category div span{
    margin-right: 10px;
}
.category div span img {
    width: 32px;
    height: 32px;
}