.header{
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 172, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.logo{
    width: 200px;
    margin: 0;
}
.logo img{
    width: 150px;

}

a{
    text-decoration: none;
    color: #fff;
}

.name_center{
    width: 400px;
    font-size: 22px;
    color: #fff;
    text-align: right;
}

.users{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin-right: 40px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.search .searchInput{
    position: absolute;
    
    width: 0px;
    padding: 15px;
    right: 10px;
    font-size: 19px;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    z-index: 25;
}
.searchActive{
    position: absolute;
    width: 800px;
    padding:15px;
    right: 10px;
    font-size: 19px;
    visibility: visible;
    transition: 0.3s ease-in-out;
    z-index: 25;

}

.search img{
    position: absolute;
    left: 10px;
    z-index: 30;
    cursor: pointer;
}